@model Bauhaus.Models.LocalPasswordModel

<h3 class="text-info">Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <form role="form">
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword)<br />
            @Html.PasswordFor(m => m.OldPassword)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)<br />
            @Html.PasswordFor(m => m.NewPassword)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)<br />
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
        <button class="btn btn-primary" type="submit">Save Password</button>
    </form>
}
