@using GridMvc
@using GridMvc.Filtering
@using GridMvc.Html
@using GridMvc.Sorting
@using Bauhaus.Controllers
@using Bauhaus.Helpers
@using Bauhaus.Models
@model Bauhaus.Models.Order
@{
    ViewBag.Title = "Details";
}
    @{
        
        string message = "";
        string type = "";
        
        if (TempData["Message"] != null)
        {
            message = TempData["Message"].ToString();
            type = TempData["Type"].ToString();
        }
    }

<style>
    .tooltip-inner {
        max-width: 400px;
        width: auto;
    }
</style>
<div class="row">
    <div class="col col-justified">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-center">@Html.DisplayFor(model => model.SapID)</h3>
                        <h4 class="text-center">@Model.Status.CodeDescription()</h4>
                        @if(!User.IsInRole("CBD"))
                        {
                            <h5 class="text-center text-muted">@Model.Status.ReasonDescription()</h5>
                            <h6>@Html.DisplayFor(model => model.Status.Comment)</h6>
                        }
                        
                        <table class="table">
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(model => model.CustomerPO)</strong>
                                    @Html.DisplayFor(model => model.CustomerPO)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.ActionLink(Model.Customer.Name, "Details", "Customer", new { id = Model.Customer.ID }, null)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(model => model.DocDate)</strong>
                                    @Html.DisplayFor(model => model.DocDate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Orig/DSS</strong>
                                    @Html.DisplayFor(model => model.RDDF.Original) - @Html.DisplayFor(model => model.RDDF.DSSDate)
                                    @if (Model.RDDF.Confirmed)
                                    {
                                        <i class="fa fa-check" title="Confirmed"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-exclamation" title="Not Confirmed"></i>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(model => model.Type)</strong>
                                    @Html.DisplayFor(model => model.Type)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table">
                            @if (Model.Delivery != null)
                            {
                                <tr>
                                    <td class="active">
                                        <strong>@Html.DisplayNameFor(model => model.Delivery.ID)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.Delivery.ID)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>@Html.DisplayNameFor(model => model.Delivery.Date)</strong>
                                        @Html.DisplayFor(model => model.Delivery.Date)
                                    </td>
                                </tr>

                            }
                            @if (Model.Shipment != null)
                            {
                                <tr>
                                    <td class="active">
                                        <strong>@Html.DisplayNameFor(model => model.Shipment.ID)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.ActionLink(Model.Shipment.ID.ToString(), "Details", "Shipment", new { id = Model.Shipment.ID }, null)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>@Html.DisplayNameFor(model => model.Shipment.Date)</strong>
                                        @Html.DisplayFor(model => model.Shipment.Date)
                                    </td>
                                </tr>
                                if (Model.Shipment.Carrier != null)
                                {
                                    <tr>
                                        <td>
                                            <strong>@Html.DisplayNameFor(model => model.Shipment.Carrier.Name)</strong>
                                            @Html.DisplayFor(model => model.Shipment.Carrier.Name)
                                        </td>
                                    </tr>

                                    if (Model.Shipment.CarryFee != null)
                                    {
                                        <tr>
                                            <td>
                                                <strong>@Html.DisplayNameFor(model => model.Shipment.CarryFee)</strong>
                                                @Html.DisplayFor(model => model.Shipment.CarryFee) Bs.
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            
                        </table>
                    </div>

                    <div class="col-md-4">
                        <table class="table">                          
                            @if (Model.Invoices.Any())
                            {
                                <tr>
                                    <td class="active">
                                        <strong>@Html.DisplayNameFor(model => model.Invoices)</strong>
                                    </td>
                                </tr>
                                foreach (Bauhaus.Models.Invoice inv in Model.Invoices)
                                {
                                    <tr>
                                        <td>
                                            <strong>@inv.ID</strong>
                                            @inv.Date.ToString("dd/MM/yy")
                                        </td>
                                    </tr>
                                }

                            }
                            @if (Model.POD != null)
                            {
                                <tr>
                                    <td class="success">
                                        <strong>POD</strong>
                                        @Html.DisplayFor(model => model.POD.Date)
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </td>
                                </tr>
                                @*<tr>
                                    <td>
                                        
                                        <strong class="text-left">CSOT</strong>
                                        @if(Model.POD.CSOT != null && Model.POD.CSOT.Value)
                                        {
                                            <p class="text-success">HIT</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">MISS</p>
                                        }
                                    </td>
                                </tr>*@
                            }

                        </table>
                    </div>
                </div>
                <div class="well">
                    <h3><i class="fa fa-list-ol"></i> Products <a class="download" href="@Url.Action("DownloadOrderInformation", new { id = Model.SapID })"><span class="fa fa-download"></span></a></h3>
                </div>
                <div class="table">
                    @Html.Grid(Model.Products).Named("productsGrid").Columns(columns=>
                                     {
                                         columns.Add(item=>item.SKU);
                                         columns.Add(item => item.Description);
                                         columns.Add(item => item.Qty.CS);
                                         columns.Add(item => item.Qty.SU);
                                         columns.Add(item => item.DSSQty.CS);
                                         columns.Add(item => item.DSSQty.SU);
                                     }
                   
                    ).Selectable(false)
                </div>
        </div>
    </div>
</div>
</div>
<script>
    $('[data-toggle="tooltip"]').tooltip({
        'placement': 'top',
        'html': 'true'
    });
    $(function () {
        displayAlert('@type', '@message');
    });
    // Alert the user that his download is being prepared.
    $(".download").click(function () {
        toastr.info("Please Wait. Your Download is being prepared.");
    });


</script>
